@media only screen and (max-width: 1024px){
.Header{
    width: 70%;
    font-size: 18px;
} 
.instructionName{
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.instruction{
    width: 90%;
    padding: 25px;
}
.instruction > div {
    width: 25%;
}



.forDrivers {
    width: 85%;
}
.textMain {
    max-width: 90%;
}



.TotalCarBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: auto;
    padding: 0 0 80px 0;
}
.carBlock{
  width: 100%;
  margin-top: 30px;
}
.car{
    max-height: 90px;
}
.aboutCar{
    padding: 10px 40px;
}



.Block--whitewhite {
    padding: 50px 0 10px 0;    
}
.comment{
    width: 90%;
}
.arrow{
    padding: 0 20px ;
}
.commentAll{
    padding: 0 ;
}




.element{
    width: 80%;
    padding: 0;
}
.elementRev{
    width: 80%;
    padding: 0;
}
.title{
    font-size: 30px;
}
.textList{
    font-size: 20px;
    margin: 5px 0;
    padding: 0 5px;
}
.pic{
    width: 50%;
    height: auto;
}
.list{
    width: 50%;
}
.TotalServiceBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    padding: 40px 0 ;
}
  .el{
      padding: 5px 0;
      width: 100%;
  
  }
  .serviceBlock--drivers{
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;    
    }
  .serviceText--drivers{
      font-size: 24px;
      margin: 0;
      padding: 0;
      text-align: center;
  }
  .City{
      width: 80%;
  }

  .FakeTaxi{
   
    flex-direction: column;
    align-items: flex-start;
    width: 33%;
    margin: 0  auto;
    padding: 40px 0;

}
.application{
    margin: 0;
    width: 100%;
}
.phone{
    display: flex;
    align-items: center;
    
}
.mobileTitle{
    font-size: 24px;
    padding: 0;
    margin: auto;
    line-height: 36px;
}
.phoneNumber{
    font-size: 30px;
    padding: 0;
    margin: auto;
    line-height: 40px;
}
.mobile{
    flex-direction: column;
    margin: auto 0 ;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.icon2{
    display: none;
}



}